

/** Start Sneezy CSS **/
body {
    padding: 0px;
}

h1 {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 2em;
}

.content-pane {
	padding: 5px;
}

.button-pane {
	margin-bottom: 3px;
}

#add-meal-submit {
	margin-top: 5px;
}

.alert_response {
	position: absolute;
	top: 50px;
	width: 200px;
    z-index: 2;
}

.grid {
	width:	600px;
	height:	500px;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

#calendar {
    width: 900px;
    margin: 0 auto;

    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    /* positions the label text beside the input */
    text-align: right;
}

.blog {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* positioning */
.content-category-container {
    padding-left: 10px;
}
.content-category-container h1 {
    line-height: 1;
}
.add-inputs label, .add-inputs input, .long-inputs label, .long-inputs input{
    display: inline-block;
}
.add-inputs label {
    width: 50px;
    text-align: right;
}
.long-inputs label {
    width: 120px;
}

/* category centering */
.category-inner-container {
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 20px;
    padding-top: 20px;
    height: 400px;
    width: 100%;
    text-align: center;
}

.category-inner-container .category-inner-left {
    width: 400px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 20px;
}

.category-inner-container .category-inner-right {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 4px;
    text-align: left;
}

.category-add-container {
    margin-top: 5px;
}

#person-add-container input[type=checkbox] {
    margin: 0px;
}

#person-add-container .ui-widget label {
    width: 50px;
}

#login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#login-container .navbar{
    margin: 0px 0px 5px 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#login-container .navbar .navbar-inner{
    margin: 0px;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

#login-container .login-inner-container {
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 20px;
    padding-top: 20px;
    height: 400px;
    width: 100%;
    text-align: center;
}

#login-about {
    width: 400px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#login-form {
    width: 330px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px
}

#login-form input[type=text],
#login-form input[type=password] {
    width: 160px;
}

#login-form .login-button-container,
#login-form .login-link-container {
    position:       relative;
    float:          right;
    margin-right:   20px;
}

#login-form .login-link-container {
    clear: right;
    text-align: right;
}



#infoMessage p {
    text-align: center;
    color: red;
}

.auth-container {
    width: 400px;
    padding-left: 20px;
}

.auth-container #infoMessage p {
    text-align: left;
    color: red;
}
.auth-container .button-container {
    margin-left: 122px;
}

#forgot-password-container .long-inputs label{
    width: 40px;
}

#current-person-notification {
    padding: 10px 15px;
    float: right;
    color: white;
}

#container-home .category-inner-right {
    background-color: 	#F5E7EC; /* lilac */
    border: 1px solid #d3d3d3;
}

.footer-link {
    border-top: 1px solid #d3d3d3;
    padding-bottom: 10px;
    clear: both;
    height: 10px;
}
.footer-link ul  {
    margin: 0px 0px 10px 55px;
}

.footer-link li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
}

.welcome-nav {
    width: 130px;
    height: 80px;
    vertical-align: middle;
    padding-top: 25px;
    cursor: pointer;
}

.welcome-nav-left {
    margin-left: 20px;
}

.welcome-nav .icon-label {
    display: inline-block;
    padding-bottom: 25px;
    vertical-align: middle;
    padding-left: 10px;
}

.fa-cutlery {
    color: green;
}

.fa-medkit {
    color: red;
}

.fa-cloud {
    color: blue;
}

.fa-frown-o {
    color: purple;
}

.navbar-inner .container {
    /*overflow: hidden;*/
    height: 40px;
}


@media (max-width: 480px) {
    .blog {
        width: 300px;
    }
}

