

/** Start Sneezy CSS **/
h1 {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 2em;
}

.content-pane {
	padding: 5px;
}

.button-pane {
	margin-bottom: 3px;
}

#add-meal-submit {
	margin-top: 5px;
}

.alert_response {
	position: absolute;
	top: 50px;
	width: 200px;
    z-index: 2;
}

.grid {
	width:	600px;
	height:	500px;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

#calendar {
    width: 900px;
    margin: 0 auto;

    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    /* positions the label text beside the input */
    text-align: right;
}



/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* positioning */
.content-category-container {
    padding-left: 10px;
}
.content-category-container h1 {
    line-height: 1;
}
.add-inputs label, .add-inputs input, .reaction-by-hour-inputs label, .reaction-by-hour-inputs input{
    display: inline-block;
}
.add-inputs label {
    width: 35px;
}
.reaction-by-hour-inputs label {
    width: 120dpx;
}
#person-add-container input[type=checkbox] {
    margin: 0px;
}

#person-add-container .ui-widget label {
    width: 50px;
}